NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCdVKtICPEgBsCBHY1pQRw4z6e4OGqX5iY"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="control-financial.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="control-financial"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="control-financial.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="710778540212"
NEXT_PUBLIC_FIREBASE_APP_ID="1:710778540212:web:7f1f06ebbf5f1a7fefc7e1"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-R4XTKCPWHH"

BRAPI_TOKEN=
NEWS_API_KEY=



